body{
	background-color:rgb(237,255,239);
	background-image: url('pond.png'); 
	background-repeat:no-repeat; 
	background-size:contain;
	background-position: center;
}

#DivCanvas {
	width:100%;
	height:100%;
	z-index:3;
	left: 0px;
	top: 0px;	
	
}
#DivButtons {
  width: 400px;
    height: 250px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;	
	z-index:7;
	visibility:hidden;
}

#DivCanvasFireworks {
	position:absolute;
	width:100%;
	height:100%;
	z-index:5;
	left: 0px;
	top: 0px;	
	background-color:rgba(255,255,255,0.5);
	visibility:hidden;
}

#DivOpzioni {
	position:absolute;
	width:550px;
	height:450px;
	z-index:2;
	left: 25px;
	top: 25px;	
	background-color:rgba(255,255,255,0);
	border: 0px solid #000000; 
}

#DivJump1 {
	position:absolute;
	width:10px;
	height:10px;
	z-index:2;
	left: 70px;
	top: 5px;	
	background-color:rgba(255,255,255,0);
	border: 0px solid #000000; 
}

#DivJump2 {
	position:absolute;
	width:10px;
	height:10px;
	z-index:2;
	left: 330px;
	top: 5px;	
	background-color:rgba(255,255,255,0);
	border: 0px solid #000000; 
}

#TestoTitolo {
	position:absolute;
	z-index:1;
	width:600px;
	left: 10px;
	top: 40px;	
	font-size: 40px;
	color: #000;
	text-align: center;
	font-family: Optima, Verdana;
}

.ClassSfondoTitolo {
	position:absolute;
	z-index:1;
	width:600px;
	height:130px;
	left: 1300px;
	top: 50px;
	background-color:rgba(255,255,255,0.9);
}

.ClasseMenuOptions {
	position:absolute;
	z-index:0;
	width:600px;
	height:590px;
	left:1300px;
	top:205px;
	font-size: 16px;
	background-color:rgba(255,255,255,0.9);
	font-family: Optima, Verdana;	
}

.ClasseMenuJums {
	position:absolute;
	z-index:0;
	width:600px;
	height:210px;
	left:1300px;
	top:820px;
	font-size: 16px;
	background-color:rgba(255,255,255,0.9);
	font-family: Optima, Verdana;	
}

.ClassImmaginona {
	position:absolute;
	z-index:1;
	left: 0px;
	top: 40px;
}


